# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.log
/*.hcl
.DS_Store
Thumbs.db
.idea

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/tags
/bin/
/pkg/
.vagrant
*.old
*.attr

# Test file
exit-code

# Don't commit uncompressed state test files
client/state/testdata/*.db

*.swp
*.iml

nomad-config2json_linux_amd64
nomad-config2json_darwin_amd64
TODO.md
GNUMakefile.local

.terraform
*.tfstate*
rkt-*

./idea
*.iml

# local terraform overrides
*.auto.tfvars
